/* static/css/style.css */

/* Estilos comuns para todos os dispositivos */
body {
    background: linear-gradient(
        180deg,
        rgb(116, 230, 201) 0%,
        rgba(0, 153, 153, 50) 100%
    );
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.scoreboard {
    display: inline-block;
    width: 100%;
}

.wins, .loss, .draw, span {
    display: inline-flex;
    color: rgb(105, 76, 76);
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.loss {
    color: rgb(126, 3, 3);
}

.wins {
    color: rgb(42, 94, 29); 
}

#jogo {
    display: grid;
    width: 100%;
    height: 98%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3);
}

.linha {
    height: 200px;
    border-color: aliceblue;
}

#casa1, #casa4, #casa7 {
    border-right: solid 0px;
    border-color: aliceblue;
}

#casa2, #casa5, #casa8 {
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: aliceblue;
}

#casa3, #casa6, #casa9 {
    border-left: solid 0px;
    border-color: aliceblue;
}

#casa4, #casa5, #casa6 {
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-color: aliceblue;
}

.casa {
    border-left: solid 0px;
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100%;
    border-right: solid 0px;
    float: left;
    border-color: aliceblue;
    cursor: pointer;
}

#resultado {
    font-size: 50px;
    margin-top: 15px;
}

button {
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 55px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.author {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

.author::before {
    display: inline-block;
    content: "by Carine";
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .scoreboard {
        font-size: 16px;
    }
    .casa {
        font-size: 40px;
        width: 100px;
        height: 100px;
    }
    #resultado {
        font-size: 20px;
        margin-top: 10px;
    }
    button {
        padding: 10px 20px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .author {
        font-size: 8px;
    }
}
